.portfolio{
  background: #ebeeee;
  padding-top: 90px;
  padding-bottom: 60px;
}

.portfolio .imgRounded {
  height: 20vh;
  margin: 15px 0px;
  width: 100%;
}


.imgRounded:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  opacity:0.7;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

h1 {
  color:black;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin-bottom:30px;
  word-spacing: 5px;
  text-align: center;
}

p {
  padding: 2em;
  color: var(--primaryColor) ;
  font-size:var(--fontSizeTitle);
  letter-spacing: var(--smallSpacing);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-transform: uppercase;
}