.portfolio{
  padding-top: 90px;
  padding-bottom: 60px;
}

.portfolio .imgRounded {
  border-style: solid;
  border-color:var(--mainGrey);
  height: 20vh;
  margin: 15px 0px;
  width: 100%;
}

.imgRounded:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
  box-shadow: var(--boxShadow);
  opacity:0.7;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.portfolio h3 {
  font-size: var(--fontSizeHeader);
  letter-spacing: var(--smallSpacing);
  line-height: 1.5em;
  margin: 0 0 .5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  text-transform: uppercase;
}

.portfolio p{
  font-size: .8em;
  line-height: 1.5em;
  margin: 0;
}


@media screen and (max-width: 500px) {
  .portfolio .imgRounded {
    height: auto;
  }
  
}